@function img-path($name) {
  @return '../img/'+$name;
}

@function font-path($name) {
  @return '../fonts/'+$name;
}

@mixin hpad($amount) {
  padding-left: $amount;
  padding-right: $amount;
}

@mixin vpad($amount) {
  padding-top: $amount;
  padding-bottom: $amount;
}

@mixin hmargin($amount) {
  margin-left: $amount;
  margin-right: $amount;
}

@mixin vmargin($amount) {
  margin-top: $amount;
  margin-bottom: $amount;
}

$link-decoration:             none;

$dark-blue: #222a43;
$mid-blue: #27446a;
$light-blue: #617fb3;


$light:         #f8f9fa; //gray-100
$dark:          #343a40; //gray-800

$body-color: $dark;
$header-color: $light;
$main-color: $dark;
$footer-color: $light;

$primary: $mid-blue;

$headings-font-weight:        400;

$color-dark-background: rgb(51,51,51);
$color-light-background: rgb(255,255,255);
$color-droparea: #aaffaa;

$main-background: #ffffff;
$gray-background: #f0f0f0;
$background-body: $light url(img-path('bricksred_bg.png'));
$background-admin-body: $light url(img-path('bricks_bg.png'));


$enable-prefers-reduced-motion-media-query:   false;

$dropdown-link-active-bg:         rgba(255,255,255,0.8) !default;

// for ckeditor
$zindex-modal-backdrop: 11040;
$zindex-modal: 11050;
$zindex-popover: 11060;
$zindex-tooltip: 11070;

$modal-dialog-margin-wide: 3rem !default;

$font-size-base:              1rem;

$link-decoration:             none;

$font-size-xsm:               ($font-size-base * .8);
$font-size-xxsm:              ($font-size-base * .7);

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.5;
$h3-font-size:                $font-size-base * 1.125;
$h4-font-size:                $font-size-base;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;




